.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--third-color);
    padding: 30px 0;
}
.subtitle-section {
    color: var(--primary-color);
    font-size: 2em;
    text-decoration: underline;
}
.link-mail {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 25px;
    background-color: var(--white-color);
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}
.link-mail:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--white-color);
}
.info-form {
    padding: 25px 0;
}
.label {
    display: flex;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary-color);
}
.input {
    width: 270px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 5px;
}
.textarea {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-form {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}
.btn-form:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}
.error {
    color: black;
}
/***** Responsive *****/
@media screen and (max-width: 768px) {
    .form {
        flex-direction: column;
    }
}
@media screen and (max-width: 525px) {
    .textarea {
        width: 80%;
    }
}