.skills-content {
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
    color: var(--white-color);
    padding: 100px 0;
}
.icon-content{
    display: flex;
    flex-direction: column;
}
.icon-content i {
    border: 3px solid var(--primary-color);
    font-size: 3em;
    padding: 50px;
    margin: 5px;
    color: var(--secondary-color);
    cursor: pointer;
}
.icon-content i:hover {
    color: var(--white-color);
    border: 3px solid var(--white-color);
}
/***** Responsive *****/
@media screen and (max-width: 992px) {
    .skills-content {
        padding: 70px 0;
    }
   .icon-content i {
        padding: 30px;
   }
}
@media screen and (max-width: 768px) {
    .icon-content {
        justify-content: center;
        flex-direction: row;
    }
    .icon-top, .icon-bottom {
        display: flex;
        flex-direction: column;
    }
    .icon-content i {
        padding: 20px;
    }
}
@media screen and (max-width: 575px) {
    .icon-content i {
        font-size: 2em;
    }
}