.nav-header ul {
    list-style-type: none;
    display: flex;
}
.nav-header-mobile ul {
    list-style-type: none;
}
.nav-header-mobile li {
    cursor: pointer;
    margin: 10px 0;
}
.nav-header li {
    margin-right: 15px;
    cursor: pointer;
}
.nav-header a, .nav-header-mobile a {
    color: var(--white-color);
    text-decoration: none;
}
.nav-header, .nav-header-mobile a:hover {
    color: var(--fourth-color);
}

@media screen and (max-width: 525px) {
    .navbar {
        width: 100%;
    }
}