/***** Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap');

/***** Color *****/
:root {
    --primary-color: #092635;
    --secondary-color: #1B4242;
    --third-color: #5C8374;
    --fourth-color: #9EC8B9;
    --white-color: rgb(245, 245, 245);
    --black-color: rgb(0, 0, 0);
}
/***** Général *****/
body {
    font-family: "Open Sans", sans-serif;
}
.title-section {
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: var(--white-color);
    padding: 20px 0;
    margin: 0;
}
.header, .title-section, .footer {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about-content, .skills-content, .content-project, .form {
    padding: 40px 0;
}
/***** Burger Menu *****/
.mobile-menu {
    display: none;
}
.burger-menu {
    display: none;
    cursor: pointer;
}
.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: var(--white-color);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/***** Header *****/
.header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-header ul {
    list-style-type: none;
    display: flex;
}
.nav-header-mobile ul {
    list-style-type: none;
}
.nav-header-mobile li {
    cursor: pointer;
    margin: 10px 0;
}
.nav-header li {
    margin-right: 15px;
    cursor: pointer;
}
.nav-header a, .nav-header-mobile a {
    color: var(--white-color);
    text-decoration: none;
}
.nav-header, .nav-header-mobile a:hover {
    color: var(--fourth-color);
}
/***** Banner *****/
.content-presentation {
    padding-left: 50px;
}
.presentation {
    background: url("../images/ImageDev.jpeg") center/cover no-repeat;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title, .subtitle {
    font-family: "Pacifico", sans-serif;
    color: var(--secondary-color);
}
.title {
    font-size: 6em;
    margin: 0;
}
.subtitle {
    font-size: 3em;
    text-decoration: underline;
}
.link-project {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
}
.link-project:hover {
    background-color: var(--primary-color);
    border: none;
}
/***** About *****/
.about-content {
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-color);
    background-color: var(--third-color);
    font-family: "Pacifico";
}
.slt-about {
    font-size: 2em;
    font-family: "Pacifico", sans-serif;
    /* color: var(--primary-color); */
}
.text-about {
    width: 50%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link-about a {
    text-decoration: none;
}
.social-media {
    font-size: 2.5em;
    margin-right: 10px;
    color: var(--primary-color);
}
.social-media:hover {
    color: var(--white-color);
}
.img-profil {
    height: 250px;
    border-radius: 50%;
}
.link-media {
    text-align: center;
    padding-top: 20px;
}
/***** Skills *****/
.skills-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--third-color);
    color: var(--white-color);
}
.text-skills {
    width: 65%;
}
.text-section-skills {
    text-align: center;
    margin: auto;
    font-size: 1.2em;
}
.stack-skills {
    width: 30%;
}
.icon-content {
    display: flex;
    justify-content: center;
}
.icon-top, .icon-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 5em;
    padding: 5px;
}
.icon-skills {
    height: 50px;
    padding: 5px;
}
.fa-git-alt {
    font-size: 4.5em;
}
/* .fa-html5, .fa-git-alt {
    color: rgb(228, 77, 38);
}
.fa-css3-alt {
    color: rgb(21, 114, 182);
}
.fa-sass {
    color: rgb(204, 102, 153);
    font-size: 2.5em;
}
.fa-js {
    color: rgb(247, 223, 30);
}
.fa-react {
    color: rgb(97, 218, 251);
} */
/***** Projects *****/
.content-project {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--third-color);
}
.card {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    width: 200px;
    height: 250px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--fourth-color);
}
.img-project {
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
}
.kasaLogo {
    padding: 37px 0;
}
.argentBankLogo {
    padding: 47px 0;
}
.title-card-content {
    margin: 10px;
    text-decoration: underline;
}
.icon-card {
    font-size: 3em;
    background-color: var(--third-color);
    color: var(--white-color);
    cursor: pointer;
}
.icon-card:hover {
    background-color: var(--secondary-color);
}
/***** Contact *****/
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--third-color);
}
.label {
    display: flex;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary-color);
}
.input {
    width: 270px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 5px;
}
.textarea {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-form {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}
.btn-form:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}
/***** Footer *****/
.footer {
    padding: 10px;
    text-align: center;
    color: var(--white-color);
}

/*********** RESPONSIVE ***********/
/* Partie Tablette */
@media screen and (max-width: 768px) {
    /* Banner */
    .presentation {
        height: 100vh;
    }
    .content-presentation {
        padding-left: 10px;
    }
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 2em;
    }
    .link-project {
        padding: 10px;
    }
    /* About */
    .about-content {
        flex-direction: column;
        align-items: center;
    }
    .text-about {
        width: 80%;
        font-size: 1.5em;
    }
    /* Skills */
    .skills-content {
        flex-direction: column;
    }
    .text-skills {
        width: 85%;
        margin-bottom: 15px;
    }
    .icon-top, .icon-bottom {
        flex-direction: row;
    }
    .icon {
        font-size: 4em;
    }
    .fa-git-alt {
        font-size: 3.5em;
    }
    /* Projets */
    .content-project {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin: 10px 0;
    }
    /* Form */
    .form {
        flex-direction: column;
    }
}
/* Partie Mobile*/
@media screen and (max-width: 525px) {
    /* Menu Mobile */
    .burger-menu {
        display: block;
        padding: 8px;
    }
    .mobile-menu {
        display: block;
        width: 100%;
        text-align: center;
    }
    /* Header */
    .nav-header {
        display: none;
    }
    /* Présentation */
    .title, .subtitle {
        color: var(--white-color);
    }
    /* Skills*/
    .icon-content {
        flex-direction: column;
    }
    .icon {
        font-size: 2.5em;
    }
    .icon-skills {
        height: 40px;
    }
    .fa-git-alt {
        font-size: 2.5em;
    }
    /* Contact */
    .textarea {
        width: 80%;
    }
}