.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
}
.icon-github-nav {
    font-size: 2em;
    margin-left: 15px;
}
.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-header li {
    margin-right: 35px;
    cursor: pointer;
}
.nav-header a, .nav-header-mobile a {
    color: var(--white-color);
    text-decoration: none;
}
.nav-header a:hover, .nav-header-mobile a:hover {
    color: var(--fourth-color);
}
.nav-header-mobile ul {
    list-style-type: none;
}
.nav-header-mobile li {
    cursor: pointer;
    margin: 10px 0;
}
/***** Burger Menu *****/
.mobile-menu {
    display: none;
}
.burger-menu {
    display: none;
    cursor: pointer;
}
.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: var(--white-color);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/***** Responsive *****/
@media screen and (max-width: 780px) {
    /* Header */
    .header {
        justify-content: flex-end;
    }
    .nav-header {
        display: none;
    }
    /* Menu Mobile */
    .burger-menu {
        display: block;
        padding: 8px;
    }
    .mobile-menu {
        display: block;
        width: 85%;
        text-align: center;
    }
    .nav-header-mobile li {
        font-size: 1.5em;
        padding: 15px 0
    }
}