/***** Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap');

/***** Color *****/
:root {
    --primary-color: #092635;
    --secondary-color: #1B4242;
    --third-color: #5C8374;
    --fourth-color: #9EC8B9;
    --white-color: rgb(245, 245, 245);
    --black-color: rgb(0, 0, 0);
}
/***** Général *****/
body {
    font-family: "Open Sans", sans-serif;
}
.title-section {
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: var(--white-color);
    padding: 20px 0;
    margin: 0;
}
.header, .title-section, .footer {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about-content, .skills-content, .content-project, .form {
    padding: 40px 0;
}
