/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap');

/* Color */
:root {
    --primary-color: #022B3A;
    --secondary-color: #1F7A8C;
    --tertiary-color: #BFDBF7;
    --white-color: #FFF;
}

body {
    font-family: "Open Sans", sans-serif;
}
.title-section {
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 15px;
}
/* Header */
.header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-family: "Pacifico", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--primary-color);
}
.nav-header ul {
    list-style-type: none;
    display: flex;
}
.nav-header li {
    margin-right: 15px;
    cursor: pointer;
}
.nav-header a {
    color: var(--white-color);
    text-decoration: none;
}
.nav-header a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
/* Presentation */
.presentation {
    text-align: center;
}
.title, .subtitle {
    font-family: "Pacifico", sans-serif;
    color: var(--primary-color);
}
.title {
    font-size: 4em;
}
.subtitle {
    font-size: 2em;
    text-decoration: underline;
}
/* Skills */
.icon-skills {
    display: flex;
    justify-content: space-evenly;
}
.icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-section-skills {
    font-size: 1.5em;
    color: var(--primary-color);
    text-decoration: underline;
    text-align: center;
}
.icon {
    font-size: 5em;
}
.fa-html5 {
    color: rgb(255, 115, 0);
}
.fa-css3-alt {
    color: blue;
}
.fa-sass {
    color: rgb(233, 79, 184);
}
.fa-js {
    color: rgb(243, 243, 39);
}
.fa-react {
    color: rgb(0, 213, 255);
}
/* Projects */
.container-project {
    display: flex;
    justify-content: space-evenly;
}
.card {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    width: 200px;
    height: 250px;
    padding: 10px;
    text-align: center;
}
.img-project {
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
}
.kasaLogo {
    padding: 37px 0;
}
.argentBankLogo {
    padding: 49px 0;
}
.card-content {
    position: relative;
    z-index: 1;
}
.title-card-content {
    margin: 10px;
}
.icon-card {
    font-size: 3em;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.icon-card:hover {
    background-color: var(--secondary-color);
}
/* Contact */
.contact {
    padding: 20px 0;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.label {
    display: flex;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary-color);
}
.input {
    width: 270px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 5px;
}
.textarea {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-form {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}
.btn-form:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
}