.presentation {
    background: url("../../../public/images/ImageDev.jpeg") center/cover no-repeat;
    height: 150vh;
}
.content-presentation {
    padding-left: 50px;
}
/***** Responsive *****/
@media screen and (max-width: 992px) {
    .presentation {
        height: 100vh;
    }
}